<%#
  Local Variables:

  hsh: The hash containing information for courses in each semester.
  id: The semester id to lookup.
%>

<!-- Additional info for COVID-impacted semesters -->
<% case id %>
<% when 'sp20' %>
  <p>Due to the COVID-19 pandemic, all courses taken in the Spring 2020 semester were transtioned from in-person to online delivery
  midway through the semester.</p>
<% when 'au20' %>
  <p>Due to the COVID-19 pandemic, all courses taken in the Autumn 2020 semester were delivered in an online format,
  with the exception of CSE 2501, which was delivered in-person at the beginning of the semester, but transitioned online halfway through.</p>
<% when 'sp21' %>
  <p>Due to the COVID-19 pandemic, all courses taken in the Spring 2021 semester were delivered in an online format.</p>
<% end %>

<% hsh[id].courses.each do |c| %>

  <!-- Accordion for each course -->
  <% c_id = c.number.downcase.delete ' ' %>
  <div class="accordion-item">
    <!-- Header -->
    <h2 class="accordion-header" id="heading-<%= c_id %>">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-<%= c_id %>" aria-expanded="false" aria-controls="collapse-<%= c_id %>">
        <%= "#{c.number} - #{c.name}" %>
      </button>
    </h2>

    <!-- Body -->
    <div id="collapse-<%= c_id %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= c_id %>" data-bs-parent="#accordion-<%= id %>">
      <div class="accordion-body">
        <%= partial "layouts/coursework/#{id}/_#{c_id}" %>
      </div>
    </div>
  </div>

<% end %>